p{
    background-color: rgb(255, 150 , 150);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}
#blue36{
  color: rgb(0,0,255);  
  font-size: 36px;
}
.p24{
    font-size: 24px;
}
#grn24b{
    background-color: rgb(150, 255, 150);
    font-size: 24px;
    font-weight: bold;
}